@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body,input{
    font-family: 'Poppins', sans-serif;
}

.container{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: #fff;
    overflow: hidden;
}

.container::before{
    content:'';
    position:absolute;
    width: 2000px;
    height: 2000px;
    border-radius: 50%;
    background: linear-gradient(-45deg,#4481eb, #04befe);
    top:-10%;
    right:48%;
    transform: translateY(-50%);
    z-index:6;
    transition: 1.8s ease-in-out;
}

.recover-form{
    display: none;
    width:100%;
    text-align: center;
    justify-content: center;
}

.change-pass-form{
    display: none;
    width:100%;
    text-align: center;
    justify-content: center;
}

.forms-container{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.signin-signup{
    position:absolute;
    top:50%;
    left:75%;
    transform:translate(-50%,-50%);
    width:50%;
    display:grid;
    grid-template-columns: 1fr;
    z-index:5;
    transition: 1s 0.7s ease-in-out;
}

.heading {
    position:absolute;
    left:50%;
    font-size: 1.2rem;
    transform:translate(-50%,-50%);
    width:100%;
    text-align: center;
    transition: 1s 0.7s ease-in-out;
}

form{
    margin-top: 10px;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 5rem;
    overflow: hidden;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    transition: 0.2s 0.7s ease-in-out;
}

form.edit-info-form{
    height:100%;
    align-items: center;
    overflow-y:auto;
    justify-content: center;
    flex-direction: column;
    padding: 0 1rem;
    display:none;
}

form.sign-in-form{
    /*Hide sign-up and show sign-in*/
    z-index: 2;
}

form.recover-form{
    /*Hide sign-up and show sign-in*/
    z-index: 2;
}

form.change-pass-form{
    z-index: 2;
}

form.sign-up-form{
    /*Hide sign-up and show sign-in*/
    z-index: 1;
    opacity: 0;
}

.title{
    display:flex;
    margin-top:10px;
    font-size: 2.2rem;
    color: #444;
}

.input-field{
    max-width: 380px;
    width: 100%;
    height: 40px;
    background-color: #f0f0f0;
    margin: 10px 0;
    border-radius: 50px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 0.4rem;
}

.input-field i{
    text-align: center;
    line-height: 40px;
    color: #acacac;
    font-size: 1.1rem;
}

.input-field input{
    background:none;
    outline:none;
    border:none;
    line-height: 1;
    font-weight: 600;
    font-size: 1.1rem;
    color: #333;
}

.input-field input::placeholder{
    color:#aaa;
    font-weight:500;
}

.btn{
    width:150px;
    height:49px;
    border:none;
    outline:none;
    border-radius:50px;
    cursor:pointer;
    background-color: #04befe;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    transition: 0.5s;
    box-shadow: 2px 2px 4px #000000;
}

.btn:hover{
    background-color:#4d84e2;
}

.lost-info{
    display:flex;
    justify-content: center;
}

.forgot-info-link{
    color: #5995fd;
    padding: .7rem 0;
    font-size: 1rem;
    text-align: center;
}

.forgot-info-link:hover{
    color: #4481eb;
    transition: 0.5s;
}

.panels-container{
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    display:grid;
    grid-template-columns: repeat(2,1fr);
}

.panel{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    text-align: center;
    z-index: 7;
}

.panel .content{
    color: #fff;
    transition: .9s .6s ease-in-out;
}

.panel p{
    font-size: 0.95rem;
    padding: 0.7rem 0;
}

.panel h3{
    font-weight: 600;
    line-height: 1;
    font-size: 1.5rem;
}

.left-panel{
    pointer-events: all;
    padding: 3rem 17% 2rem 12%;
}

.right-panel{
    pointer-events: none;
    padding: 3rem 12% 2rem 17%;
}

.right-panel .content, .right-panel .image{
    transform: translateX(800px);
}

.btn.transparent{
    margin:0;
    background:none;
    border: 2px solid #fff;
    width:130px;
    height: 40px;
    font-weight: 600;
    font-size: 0.8rem;
    box-shadow: none;
}

.image{
    width:100%;
    transition: 1.1s .4s ease-in-out;
}

/*Animation*/

.container.sign-up-mode::before{
    transform: translate(100%,-50%);
    right:52%;
}

.container.sign-up-mode .left-panel .image,
.container.sign-up-mode .left-panel .content{
    transform:translateX(-800px);
}

.container.sign-up-mode .right-panel .image,
.container.sign-up-mode .right-panel .content{
    transform:translateX(0px);
}

.container.sign-up-mode .left-panel{
    pointer-events: none;
}

.container.sign-up-mode .right-panel{
    pointer-events: all;
}

.container.sign-up-mode .signin-signup{
    left:25%;
}

.container.sign-up-mode form.sign-in-form{
    z-index: 1;
    opacity: 0;
}

.container.sign-up-mode form.recover-form{
    z-index: 1;
    opacity: 0;
}

.container.sign-up-mode form.change-pass-form{
    z-index: 1;
    opacity: 0;
}

.container.sign-up-mode form.sign-up-form{
    z-index: 2;
    opacity: 1;
}

/*Media sizing*/
@media(max-height: 700px){
    .container{
        min-height: 600px;
    }
}
@media(max-width: 870px) {
    .container {
        min-height: 800px;
        height: 100vh;
    }

    .signin-signup {
        width: 100%;
        top: 95%;
        transform: translate(-50%, -100%);
        transition: 1s 0.8s ease-in-out;
    }

    .signin-signup,
    .container.sign-up-mode .signin-signup {
        left: 50%;
    }

    .panels-container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr 1fr;
    }

    .panel {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 2.5rem 8%;
        grid-column: 1 / 2;
    }

    .right-panel {
        grid-row: 3 / 4;
    }

    .left-panel {
        grid-row: 1 / 2;
    }

    .image {
        width: 200px;
        transition: transform 0.9s ease-in-out;
        transition-delay: 0.6s;
    }

    .panel .content {
        padding-right: 15%;
        transition: transform 0.9s ease-in-out;
        transition-delay: 0.8s;
    }

    .panel h3 {
        font-size: 1.2rem;
    }

    .panel p {
        font-size: 0.7rem;
        padding: 0.5rem 0;
    }

    .btn.transparent {
        width: 110px;
        height: 35px;
        font-size: 0.7rem;
    }

    .container:before {
        width: 1500px;
        height: 1500px;
        transform: translateX(-50%);
        left: 25%;
        bottom: 75%;
        right: initial;
        top: initial;
        transition: 2s ease-in-out;
    }

    .container.sign-up-mode:before {
        transform: translate(-50%, 100%);
        bottom: 25%;
        right: initial;
    }

    .container.sign-up-mode .left-panel .image,
    .container.sign-up-mode .left-panel .content {
        transform: translateY(-300px);
    }

    .container.sign-up-mode .right-panel .image,
    .container.sign-up-mode .right-panel .content {
        transform: translateY(0px);
    }

    .right-panel .image,
    .right-panel .content {
        transform: translateY(300px);
    }

    .container.sign-up-mode .signin-signup {
        top: 5%;
        transform: translate(-50%, 0);
    }
}
@media(max-width:570px){
    form{
        padding:0 1.5rem;
    }

    .image{
        display:none;
    }

    .panel.content{
        padding: 0.5rem 1rem;
    }

    .container {
        padding: 1.5rem;
    }

    .container::before{
        bottom:78%;
        left:40%;
    }

    .container.sign-up-mode::before{
        bottom:25%;
        left:50%;
    }
}

.user-icon{
    float:right;
    width:100px;
    text-align: center;
    margin:10px;
}

.user-icon:hover:before{
    content:'User Profile';
}

.user-icon:hover{
    width:auto;
}

#info_save_btn{
    display:none;
}
#info_back_btn{
    display: none;
}
#main_logged_in_uname{
    font-weight: 600;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}
.main-title{
    font-weight: 700;
    font-size: 2.5rem;
    white-space: nowrap;
}
.close{
    right:5%;
    position:absolute;
    margin-top:16px;
}
.user-name{
    font-weight: 600;
    font-size: 1.5rem;
    text-align: center;
    word-wrap: break-word;
}

.info_photo_div{
    text-align: center;
    margin: 0 auto;
}
.header-elem{
    width:100%;
    display: block;
}

.text-center{
    margin-top:10%;
}

h3{
    font-weight: 600;
    line-height: 1;
    font-size: 1.5rem;
    color:white;
    text-shadow: 2px 2px 4px #000000;
}

.posts-page {
    position: absolute;
    height:100%;
    width:100%;
    background: #4481eb;
    background: url('img/cloudBackground.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#new_posts_btn{
    position: -webkit-sticky;
    position: sticky;
    top: 10px;
    display:none;
    vertical-align: top;
    opacity:80%;
}

.post-box{
    position:absolute;
    height:100%;
    top:49.7%;
    left:50%;
    display: grid;
}
.post-placeholder{
    height:50px;
    width:100%;
    border-radius: 50px;
    padding:12px;
    box-shadow: 2px 2px 4px #000000;
    border: 0 none #FFF;
    overflow: hidden;
    outline:none;
}
p.post-text{
    width:auto;
    padding:10px;
    word-wrap: break-word;
    overflow-y: auto;
    text-align: center;
    font-size: 1.5rem;
    font-weight:600;
    color:white;
}

.posts-heading{
    padding:10px;
    display:flex;
    justify-content: center;
    align-items: center;
}

h2{
    width:auto;
    word-wrap: break-word;
    padding:10px;
}

.posts-heading h2{
    color:white;
    text-shadow: 2px 2px 4px #000000;
}

.posts-list{
    width:100%;
}
.date{
    font-size: 1rem;
}
.post-cont{
    width:80%;
    height:auto;
    padding:15px;
    border:solid white;
    border-radius: 40px;
    margin:5px;
    display:inline-block;
    background: linear-gradient(-45deg, #04affe, #3676e5);
    box-shadow: 2px 2px 4px #000000;
}

.posts{
    overflow-y:auto;
    height:100%;
    transition: height 2s;
}

#bottom_post_button{
    width:40px;
    height:40px;
    position:absolute;
    right:4.9%;
    bottom:19.5%;
    font-size: 1rem;
}

.modal.right .modal-dialog {
    position: fixed;
    margin: auto;
    width: auto;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
}
.md-textarea{
    text-align: center;
}
.modal.right .modal-content {
    height: 100%;
    overflow-y: auto;
}
.modal-backdrop{
    filter:blur(1px);
}
.modal.right .modal-body {
    padding: 15px 15px 30px;
}

.modal.right.fade .modal-dialog {
    box-shadow: 1px 1px 8px #000000;
    right: 0;
    -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
    -o-transition: opacity 0.3s linear, right 0.3s ease-out;
    transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.in .modal-dialog {
    right: 0;
}


.modal-header i{
    display:inline-block;
    font-size: 8rem;
}


#info_photo_div .user-pfp{
    height:150px;
    width:150px;
    border-radius: 150px;
    box-shadow: 2px 2px 4px #000000;
    margin-bottom: 10px;
}

#delete_photo_div .user-pfp{
    height:150px;
    width:150px;
    border-radius: 150px;
    box-shadow: 2px 2px 4px #000000;
    margin-bottom: 10px;
}

.edit-info-form .temp-photo {
    font-size: 8rem;
    position: relative;
}

img.user-pfp{
    height:80px;
    width:80px;
    border-radius: 80px;
    box-shadow: 2px 2px 4px #000000;
}

.edit-info-form .user-pfp{
    height:150px;
    width:150px;
    border-radius: 150px;
    box-shadow: 2px 2px 4px #000000;
}

.edit-info-form .upload-pfp{
    position:absolute;
    height:150px;
    width:150px;
    left:-35%;
    top:-8%;
    background-color: #04befe;
    color: white;
    opacity:0;
    border:none;
    border-radius: 150px;
    transition: opacity 0.5s;
    box-shadow: 2px 2px 4px #000000;
}

.edit-info-form .upload-pfp:hover{
    opacity:90%;
    transition: opacity 0.5s;
}
.edit-info-form .upload-pfp:focus {outline:0;}

div .post-box{
    font-size: 1.2rem;
    transform:translate(-50%,-50%);
    text-align: center;
    transition: 1s 0.7s ease-in-out;
    background: linear-gradient(-45deg, #4481eb,#04befe);
    box-shadow: 2px 2px 4px #000000;
}

/*Scroll Bar*/
/* width */
::-webkit-scrollbar {
    width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
    background-color: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #04befe;
    border-radius: 10px;
    box-shadow: inset 0 0 5px grey;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #4481eb;
}

p.sure{
    margin: 50px;
    text-align: center;
    color: red;
}

p.user-info{
    text-align: center;
    width:100%;
    word-wrap: break-word;
}

.delete-post{
    background-color: #04befe;
    width:50px;
}

.delete-post:hover{
    background-color: red;
}

.yes-delete-post:hover{
    background-color: red;
}

li.new-item {
    opacity: 0;
    animation: new-item-animation .3s linear forwards;
}

@keyframes new-item-animation {
    from {
        opacity: 0;
        transform: translateY(-400px);
    }

    to {
        opacity: 1;
        transform : translateY(0);
    }
}

li.removed-item {
    animation: removed-item-animation 1s cubic-bezier(0.55, -0.04, 0.91, 0.94) forwards;
    /*transform origin is moved to the bottom left corner*/
    transform-origin: 0 100%;
}

@keyframes removed-item-animation {
    0% {
        opacity: 1;
        transform: rotateZ(0);
    }

    100% {
        opacity: 0;
        transform: translateY(600px) rotateZ(90deg);
    }
}
